<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        body{
        background-image: url("{% static 'image/arab-people-with-camel-caravan.jpg' %}");
        background-repeat:no-repeat
        background-position: center fixed;
        }
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login & Registration</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<form>

    <div class="login-wrap">
        <div class="login-html">
            <h1>Welcome to TravelEra</h1>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <button value="submit" >Sign in</button>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
                </form>
                <form>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user1" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass1" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass2" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass3" type="text" class="input">
                    </div>
                    <div class="group">
                        <button  value="submit" >sign-up</button>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1"><a>Already Member?</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
<!--<script src="{% static 'js/log.js' %}"></script>-->
</body>
</html>
